BODY {
	FONT-SIZE: 12px; COLOR: #2a2a2a; FONT-FAMILY: verdana,sans-serif
}
TD {
	FONT-SIZE: 12px; COLOR: #2a2a2a; FONT-FAMILY: verdana,sans-serif
}
B {
	FONT-SIZE: 13px; COLOR: #2a2a2a; FONT-FAMILY: verdana,sans-serif
}
A {
	FONT-SIZE: 12px;
	COLOR: #2a2a2a;
	FONT-FAMILY: verdana,sans-serif;
	text-decoration : none;
}

