<section class="col-md-3 col-sm-6 about" lang="en" aria-label="About me">
  <ul class="profiles" aria-label="My profiles at different social webs">
    <li><a href="https://frantisek-rezac.mojeid.cz/" title="My MojeID profile (Czech validated digital identity provider)">&#xf2c2;</a></li>
    <li><a href="https://www.linkedin.com/in/frantisekrezac" title="My LinkedIn profile">&#xf08c;</a></li>
    <li><a href="https://github.com/calaveraInfo" title="My GitHub profile">&#xf09b;</a></li>
    <li><a href="http://stackoverflow.com/users/263639/calavera-info" title="My StackOverflow profile">&#xf16c;</a></li>
    <li><a href="https://twitter.com/calaverainfo" title="My Twitter profile">&#xf099;</a></li>
    <li><a href="/v3/rss.xml" title="RSS feed of this blog">&#xf09e;</a></li>
  </ul>
  <ol class="timeline" aria-label="Selected examples of my publicly accessible work">
    <li class="event gist">
      <time time datetime="2017-03-05">5.<wbr />3.<wbr />2017</time>
      <span class="icon linux expandable" aria-hidden="true">⬤</span>
      <h3><a href="https://gist.github.com/calaveraInfo/345818703d78560cb0b9b2dac868a258">Multiline log message grep using Lex</a></h3>
    </li>
    <li class="event gist">
      <time time datetime="2017-02-09">9.<wbr />2.<wbr />2017</time>
      <span class="icon linux expandable" aria-hidden="true">⬤</span>
      <h3><a href="https://gist.github.com/calaveraInfo/01691146a54df985acc523a71aecf93f">Reverse proxy using netcat</a></h3>
    </li>
    <li class="event gist">
      <time time datetime="2017-02-07">7.<wbr />2.<wbr />2017</time>
      <span class="icon linux expandable" aria-hidden="true">⬤</span>
      <h3><a href="https://gist.github.com/calaveraInfo/73cd438c3d65dba4228f4b1985177e6a">Some experiments with IOCTL</a></h3>
    </li>
    <li class="date">
      <time time datetime="2017-01-01"><b>2017</b></time>
      <span class="icon calendar" aria-hidden="true">⬤</span>
    </li>
    <li class="event repo">
      <time time datetime="2016-02-09">23.<wbr />1.<wbr />2016</time>
      <span class="icon microchip expandable" aria-hidden="true">⬤</span>
      <h3><a href="https://github.com/calaveraInfo/nfc-passwords">Yet another solution for the password madness</a></h3>
    </li>
    <li class="date">
      <time time datetime="2016-01-01"><b>2016</b></time>
      <span class="icon calendar" aria-hidden="true">⬤</span>
    </li>
    <li class="event gist">
      <time time datetime="2015-12-27">27.<wbr />12.<wbr />2015</time>
      <span class="icon microchip expandable" aria-hidden="true">⬤</span>
      <h3><a href="https://gist.github.com/calaveraInfo/2b295ae4939b058f4e34">Modification of Adafruit fingerprint sensor library</a></h3>
    </li>
    <li class="event repo">
      <time time datetime="2015-11-19">19.<wbr />11.<wbr />2015</time>
      <span class="icon github expandable" aria-hidden="true">⬤</span>
      <h3><a href="https://github.com/calaveraInfo/rx-task-list">Task list app using RX</a></h3>
    </li>
    <li class="event repo">
      <time time datetime="2015-04-22">22.<wbr />4.<wbr />2015</time>
      <span class="icon github expandable" aria-hidden="true">⬤</span>
      <h3><a href="https://github.com/calaveraInfo/hospis">HospIS integration project</a></h3>
    </li>
    <li class="date">
      <time time datetime="2015-01-01"><b>2015</b></time>
      <span class="icon calendar" aria-hidden="true">⬤</span>
    </li>
    <li class="event text">
      <time time datetime="2008-11-01">2008</time>
      <span class="icon graduation expandable" aria-hidden="true">⬤</span>
      <h3>Graduation from University of West Bohemia</h3>
      <div class="article">
        Master's degree in Distributed systems.
      </div>
    </li>
    <li class="event text">
      <time time datetime="1989-11-17">1989</time>
      <span class="icon communism expandable" aria-hidden="true">⬤</span>
      <h3>Communism collapsed</h3>
      <div class="article">
        Yep, I'm so old that not only I have lived in two millenia, I have even experienced
        totalitarian regime first hand.
      </div>
    </li>
    <li class="event text">
      <time time datetime="1986-04-26">1986</time>
      <span class="icon radiation expandable" aria-hidden="true">⬤</span>
      <h3>Chernobyl exploded</h3>
      <div class="article">
        I must have been bitten by a radioactive bug back then 
        since I have a superpower to write really buggy code.
      </div>
    </li>
    <li class="event text">
      <time time datetime="1983-04-23">1983</time>
      <span class="icon child" aria-hidden="true">⬤</span>
      <h3>Born</h3>
    </li>
  </ol>
</section>