<header class="navbar navbar-inverse navbar-default navbar-static-top">
  <nav class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
{% if page.lang == 'cs' %}
  <a class="navbar-brand" href="/">calavera.info</a>
  <a href="/v3/blog/2016/10/05/o-softwarovem-inzenyrstvi.html" class="navbar-text tagline">
    Abstrakce, kontrakty, závislosti. Blog o softwarovém inženýrství.
  </a>
{% else %}
  <a class="navbar-brand" href="/v3/en/blog/">calavera.info</a>
  <a href="/v3/blog/2017/08/15/on-software-engineering.html" class="navbar-text tagline">
    Abstractions, contracts, dependencies. Software engineering blog.
  </a>
{% endif %}
    </div>
    <div class="collapse navbar-collapse" id="menu">
      <p class="navbar-text navbar-right">
{% if page.lang == 'cs' %}
  <a href="{{ page.url }}" class="lang cs navbar-link">cs</a>
  {% if page.translationEn %}
    <a href="{{ page.translationEn }}" class="lang en navbar-link">en</a>
  {% else %}
    <a href="/v3/en/translation-not-available.html" class="lang en navbar-link">en</a>
  {% endif %}
{% endif %}

{% if page.lang == 'en' %}
  {% if page.translationCs %}
    <a href="{{ page.translationCs }}" class="lang cs navbar-link">cs</a>
  {% else %}
    <a href="/v3/cs/preklad-neni-k-dispozici.html" class="lang cs navbar-link">cs</a>
  {% endif %}
  <a href="{{ page.url }}" class="lang en navbar-link">en</a>
{% endif %}
      </p>
      <ul class="nav navbar-nav">
{% if page.lang == 'cs' %}
  <li><a class="page-link hidden-md hidden-lg" href="/#about-me">O mně</a></li>
  <li><a class="page-link" href="/v3/en/about.html">O tomto webu (en)</a></li>
  <li><a class="page-link" href="/v2/index.xml">Předchozí verze</a></li>
{% else %}
  <li><a class="page-link hidden-md hidden-lg" href="/v3/en/blog/#about-me">About me</a></li>
  <li><a class="page-link" href="/v3/en/about.html">About this web</a></li>
  <li><a class="page-link" href="/v2/index.xml">Previous version (cs)</a></li>
{% endif %}
      </ul>
    </div>
  </nav>
</header>
