---
title: Blog
permalink: /
translationEn: /v3/en/blog/
layout: default
---

<main class="container" aria-labeledby="main-title">
  <h1 class="assistive" id="main-title">Hlavní stránka webu</h1>
  <div class="row">
    <section class="blog col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1" aria-labeledby="blog-title">
      <h2 class="assistive" id="blog-title">Blog</h2>
      <ol aria-label="Seznam článků blogu">
{% assign items=site.posts | where:"lang", "cs" %}
{% for post in items%}
  <li>
    <h3>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h3>
    <div class="excerpt">
      <i>{{ post.date | date: "%-d. %-m. %Y" }}</i>
      {{ post.excerpt }}
    </div>
  </li>
{% endfor %}
      </ol>
    </section>
    <section class="col-md-3 col-sm-6 about" aria-labeledby="about-me-title" id="about-me">
      <h2 class="assistive" id="about-me-title">O mně</h2>
      <ul class="profiles" aria-label="Moje profily na sociálních a profesních sítích">
        <li><a href="https://frantisek-rezac.mojeid.cz/" title="Můj profil na MojeID (český poskytovatel ověřené digitální identity)">identita</a></li>
        <li><a href="https://www.linkedin.com/in/frantisekrezac" title="Můj LinkedIn profil">linkedin</a></li>
        <li><a href="https://github.com/calaveraInfo" title="Můj Github profil">github</a></li>
        <li><a href="http://stackoverflow.com/users/263639/calavera-info" title="Můj StackOverflow profil">stackoverflow</a></li>
        <li><a href="https://twitter.com/calaverainfo" title="Můj Twitter profil">twitter</a></li>
        <li><a href="/v3/rss.xml" title="RSS tohoto blogu"><abbr>rss</abbr></a></li>
      </ul>
{% include cv.html %}
    </section>
    <section class="col-md-3 col-sm-6 twitter" aria-labeledby="twitter-title">
      <h2 class="assistive" id="twitter-title">Twitter</h2>
      <a class="twitter-timeline" href="https://twitter.com/calaverainfo">Moje tvíty</a>
    </section>
  </div>
</main>