---
title: František Řezáč on software engineering - blog, projects and more
permalink: /v3/en/blog/
translationCs: /
layout: default
---

<main class="container" aria-labeledby="main-title">
  <h1 class="assistive" id="main-title">František Řezáč on software engineering - blog, projects and more</h1>
  <div class="row">
    <section class="blog col-md-6 col-sm-12" aria-labeledby="blog-title">
      <h2 class="assistive" id="blog-title">Blog</h2>
      <div class="excerpt">
        I don't have English blog at the moment. However some posts of my Czech blog are translated and listed here.
      </div>
      <ol  aria-label="List of blog articles">
{% assign items=site.posts | where:"lang", "en" %}
{% for post in items%}
  <li>
    <h3>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h3>
    <div class="excerpt">
      <i>{{ post.date | date: "%b %-d, %Y" }}</i>
      {{ post.excerpt }}
    </div>
  </li>
{% endfor %}
      </ol>
    </section>
    <section class="col-md-3 col-sm-6 about" aria-labeledby="about-me-title" id="about-me">
      <h2 class="assistive" id="about-me-title">About me</h2>
      <ul class="profiles" aria-label="My profiles at different social and professional networks">
        <li><a href="https://frantisek-rezac.mojeid.cz/" title="My MojeID profile (Czech validated digital identity provider)">identity</a></li>
        <li><a href="https://www.linkedin.com/in/frantisekrezac" title="My LinkedIn profile">linkedin</a></li>
        <li><a href="https://github.com/calaveraInfo" title="My GitHub profile">github</a></li>
        <li><a href="http://stackoverflow.com/users/263639/calavera-info" title="My StackOverflow profile">stackoverflow</a></li>
        <li><a href="https://twitter.com/calaverainfo" title="My Twitter profile">twitter</a></li>
        <li><a href="/v3/rss.xml" title="RSS feed of this blog"><abbr>rss</abbr></a></li>
      </ul>
{% include cv.html %}
    </section>
    <section class="col-md-3 col-sm-6 twitter" aria-labeledby="twitter-title">
      <h2 class="assistive" id="twitter-title">Twitter</h2>
      <a class="twitter-timeline" href="https://twitter.com/calaverainfo">My tweets</a>
    </section>
  </div>
</main>
